/* responsive styles for larger screens */
@media screen and (min-width: 759px) {
    main {
        margin: 0 auto;
        padding: 0 4rem 1rem;
    }

    header {
        gap: 4rem;
        padding: 1rem 4rem;
    }

    .logo-text {
        width: 200px;
    }

    #menu {
        display: none;
    }

    nav {
        flex-direction: row-reverse;
        width: 100%;
        padding: 0.6rem 1rem;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem;
        gap: 1rem;
    }

    .sections {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .keynote-btn {
        bottom: 40px;
        right: 40px;
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-size: 0.7rem;
        font-weight: 600;
    }    

    footer {
        flex-direction: row;
        align-items: center;
        padding: 1rem 4rem;
    }
}
